@model BusinessUnitSearchViewModel

@{
    ViewData["Title"] = "_BusinessUnitPartial";
}

<!-- CATEGORY LIST SECTION -->
<section class="clerfix" style="padding-top:0%; padding-bottom:0%">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="resultBar barSpaceAdjust">
                    <h2>We found <span>@*@Model.BusinessUnits.Count()*@</span> Results for you</h2>
                </div>
                @foreach (var businessUnit in Model.BusinessUnits)
        {
            <div class="listContent">
                <div class="row">
                    <div class="col-sm-5 col-xs-12">
                        <div class="categoryImage">
                            <img src="~/images/@(businessUnit.Picture ?? "noimage.jpg")" alt="Image category" class="img-responsive img-rounded">
                        </div>
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <div class="categoryDetails">
                            <h2><a href="listing-details-right.html" style="color: #222222">@businessUnit.Name </a> <span class="likeCount"><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</span></h2>
                            <p>@businessUnit.Address <span class="placeName">@businessUnit.TownName </span></p>
                            <p>@businessUnit.Information </p>
                            <ul class="list-inline list-tag">
                                <li><a href="listings-half-screen-map-list.html">@businessUnit.CategoryName</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }

                @*<div class="listContent">
                    <div class="row">
                        <div class="col-sm-5 col-xs-12">
                            <div class="categoryImage">
                                <img src="assets/img/listing/listing-7.jpg" alt="Image category" class="img-responsive img-rounded">
                            </div>
                        </div>
                        <div class="col-sm-7 col-xs-12">
                            <div class="categoryDetails">
                                <ul class="list-inline rating">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                                <h2><a href="listing-details-right.html" style="color: #222222">Sticky Band</a> <span class="likeCount"><i class="fa fa-heart-o" aria-hidden="true"></i> 596 </span></h2>
                                <p>Bishop Avenue <span class="placeName">New York</span></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua. </p>
                                <ul class="list-inline list-tag">
                                    <li><a href="listings-half-screen-map-list.html">Hotel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="paginationCommon blogPagination categoryPagination text-center" style="padding-bottom:0%;">
                    <nav aria-label="Page navigation">
                        <ul class="pagination ">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

