@model IEnumerable<NoteViewModel>

@{
    ViewData["Title"] = "_NoteListPartial";
}

<table id="ordersTable" class="table table-small-font table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>№</th>
            <th width="40%">Description </th>
            <th width="20%">Created</th>
            <th>User</th>
            <th>Category</th>
            <th>Status</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach (var note in Model)
        {
        <tr>
            <td>@counter</td>
            @{
                counter++;
            }
            <td class="comment">@note.Description</td>
            <td> @note.CreatedOn.ToString("MMMM dd, yyyy")</td>
            <td>@note.UserName</td>
            <td>@note.CategoryName</td>
            <td>
                @if (note.CategoryName == "Task" && note.IsActiveTask)
                {
                    <div class="profileUserInfo-1 width-100">
                        <span class="label label-success margin-top-20 margin-20">Active</span><br />
                        <a @*id="deactivate-status" *@  asp-action="Deactivate" asp-route-id="@note.Id" class="btn btn-primary btn-new width-100 margin-20">Deactivate</a><br />
                    </div>
                }
                else if (note.CategoryName == "Task" && !note.IsActiveTask)
                {
                    <div class="btn-group">
                        <span class="label label-danger margin-top-15">Done</span><br />
                    </div>
                }

            </td>
            <td>
                <div class="profileUserInfo-1 width-100">
                    @if(note.CanUserEdit)
                    {
                        <a class="btn btn-primary margin-10" data-toggle="modal" data-noteid="@note.Id" data-target="#editModalNote">Edit</a><br />
                    }
                    @if (note.Image == null)
                    {
                        <a class="btn btn-primary btn-new width-100 margin-10" data-toggle="modal" data-target="#uploadModal">Upload Image</a>
                    }
                    else
                    {
                        <a class="image-link btn btn-primary btn-new width-100 margin-10" href="/images/@note.Image">Show Image</a>
                    }
                </div>
            </td>
            <td></td>
        </tr>
        }

    </tbody>
</table>


