@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- BANNER SECTION -->
<section class="clearfix homeBanner" style="background-image: url(assets/img/banner/banner1.jpg); margin-bottom:0% ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banerInfo">
                    <h1>Explore. Discover. Share</h1>
                    <p>We help you to find out great things arround you</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="bg-search-white">
                    <form class="form-inline" id="search-business-form" asp-action="Search" asp-controller="Home" method="get">
                        <div class="form-group">
                            @*<label>Search</label>*@
                            <input type="text" class="form-control" id="search-for-business-phrase" asp-for="SearchCriteria" placeholder="Enter your keywords">
                        </div>
                        <div class="form-group">
                            <div class="searchSelectbox">
                                @*<label for="dateModified">City</label>*@
                                <select name="TownId" id="town-id-from-selector" class="select-drop">
                                    <option value="null" selected @*disabled*@ hidden>Select Location</option>
                                    @foreach (var town in Model.Towns)
                                    {
                                        <option value="@town.Id">@town.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="searchSelectbox">
                                @*<label for="dateModified">Category</label>*@
                                <select name="CategoryId" id="category-id-from-selector" class="select-drop">
                                    <option value="null" placeholder="Category" selected @*disabled*@ hidden>Select Category</option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            @*<label for="dateModified"></label>*@
                            <button type="submit" class="btn btn-primary">Search </button>
                        </div>
                        <span id="anti-forgery-for-business-search">@Html.AntiForgeryToken()</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*</section>**@


    <div id="business-partial-holder">
        @await Html.PartialAsync("_BusinessUnitsPartial", Model.SearchModelBusiness)
    </div>
   

    <!-- Start Note Modal -->
    @await Html.PartialAsync("_CreateNoteModalPartial", Model.Note)
    <!-- End Note Modal -->
    <!-- Start BusinessUnit Modal -->
    @await Html.PartialAsync("_CreateBusinessUnitModalPartial", Model.BusinessUnit)
    <!-- End Note Modal -->
    <!-- Start Account Modal -->
    @await Html.PartialAsync("_CreateAccountModalPartial", Model.Register)
    <!-- End Account Modal -->
    <!-- Start Login Modal -->
    @await Html.PartialAsync("_LoginModalPartial", Model.Login)
    <!-- End Login Modal -->

</section>

@await Html.PartialAsync("_FooterPartial", Model)


@section Scripts{

}


